# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica_se = pd.Series(data=anomalia_termica)
print(anomalia_termica_se)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:

# seu código aqui
anomalia_termica_se = pd.Series(data=anomalia_termica, index=anos)
print(anomalia_termica_se)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [17]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturas_se = pd.Series(data=dic_temperaturas)
print(temperaturas_se)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)
print(df_arr)

             0           1           2
0    97.581255   90.078875  106.342720
1   100.957876  104.788695   98.549708
2    98.387106   99.380213   99.565294
3   107.820320  107.090059  125.552332
4    89.664462   85.977141  115.397071
5   118.622342  104.227668  102.861497
6    95.070800  109.046279  109.556247
7   126.038651  107.719979  101.256616
8    83.166607  111.740759   97.711809
9    85.632636  110.871522  104.132046
10   96.550510  104.723789  101.684660
11   89.869461   99.169039  105.645761
12   98.649996   95.079001   93.592312
13   85.068156  106.615548  106.957816
14   99.346269  120.886875   86.659180
15  101.558800   91.596312   85.542135
16  101.928180   93.157193   97.000368
17   99.283641   96.362006   93.712597
18   95.227756  102.861697   97.063531
19  117.453156   93.212530  100.725682

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [24]:
#seu código aqui
df_arr = df_arr.set_index(pd.Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
                                   '14', '15', '16', '17', '18', '19', '20']))
df_arr.columns = ['x1', 'x2', 'x3']
print(df_arr)

            x1          x2          x3
1    97.581255   90.078875  106.342720
2   100.957876  104.788695   98.549708
3    98.387106   99.380213   99.565294
4   107.820320  107.090059  125.552332
5    89.664462   85.977141  115.397071
6   118.622342  104.227668  102.861497
7    95.070800  109.046279  109.556247
8   126.038651  107.719979  101.256616
9    83.166607  111.740759   97.711809
10   85.632636  110.871522  104.132046
11   96.550510  104.723789  101.684660
12   89.869461   99.169039  105.645761
13   98.649996   95.079001   93.592312
14   85.068156  106.615548  106.957816
15   99.346269  120.886875   86.659180
16  101.558800   91.596312   85.542135
17  101.928180   93.157193   97.000368
18   99.283641   96.362006   93.712597
19   95.227756  102.861697   97.063531
20  117.453156   93.212530  100.725682

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
df_arr['media'] = (df_arr['x1']+df_arr['x2']+df_arr['x3'])/3
print(df_arr)

            x1          x2          x3       media
1    97.581255   90.078875  106.342720   98.000950
2   100.957876  104.788695   98.549708  101.432093
3    98.387106   99.380213   99.565294   99.110871
4   107.820320  107.090059  125.552332  113.487570
5    89.664462   85.977141  115.397071   97.012892
6   118.622342  104.227668  102.861497  108.570502
7    95.070800  109.046279  109.556247  104.557776
8   126.038651  107.719979  101.256616  111.671748
9    83.166607  111.740759   97.711809   97.539725
10   85.632636  110.871522  104.132046  100.212068
11   96.550510  104.723789  101.684660  100.986320
12   89.869461   99.169039  105.645761   98.228087
13   98.649996   95.079001   93.592312   95.773770
14   85.068156  106.615548  106.957816   99.547173
15   99.346269  120.886875   86.659180  102.297441
16  101.558800   91.596312   85.542135   92.899083
17  101.928180   93.157193   97.000368   97.361914
18   99.283641   96.362006   93.712597   96.452748
19   95.227756  102.861697   97.063531   98.384328
20  117.453156   93.212530  100.725682  103.797123

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [27]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['media'])
print(df_arr)

            x1          x2          x3       media   log_med
1    97.581255   90.078875  106.342720   98.000950  4.584977
2   100.957876  104.788695   98.549708  101.432093  4.619390
3    98.387106   99.380213   99.565294   99.110871  4.596239
4   107.820320  107.090059  125.552332  113.487570  4.731693
5    89.664462   85.977141  115.397071   97.012892  4.574844
6   118.622342  104.227668  102.861497  108.570502  4.687400
7    95.070800  109.046279  109.556247  104.557776  4.649740
8   126.038651  107.719979  101.256616  111.671748  4.715564
9    83.166607  111.740759   97.711809   97.539725  4.580260
10   85.632636  110.871522  104.132046  100.212068  4.607289
11   96.550510  104.723789  101.684660  100.986320  4.614985
12   89.869461   99.169039  105.645761   98.228087  4.587292
13   98.649996   95.079001   93.592312   95.773770  4.561989
14   85.068156  106.615548  106.957816   99.547173  4.600632
15   99.346269  120.886875   86.659180  102.297441  4.627885
16  101.558800   91.596312   85.542135   92.899083  4.531514
17  101.928180   93.157193   97.000368   97.361914  4.578435
18   99.283641   96.362006   93.712597   96.452748  4.569053
19   95.227756  102.861697   97.063531   98.384328  4.588882
20  117.453156   93.212530  100.725682  103.797123  4.642438